// COLORS
$primary-mobile: #f8f8f8;
$secondary-mobile: #e8e6e5;
$icon-delivery: #63605b;
$text-white: #ffffff;
$text-gray: #999694;
$text-grayLight: #67625f;
$border-color-gray: #67625f;
$red: #ff5958;
$blue: #619aaf;
$yellow: #f6b435;
$green: #9fab4c;
$purple: #8d799c;
$black-footer: #2d2a25;
