@use "base";
.navbar {
  background-color: #f8f8f8;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &__placeholder {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &--grey {
      background-color: #bbb8b6;
    }
    &--red {
      background-color: #ff5959;
    }
  }
  &__cart__count {
    color: #fff;
    font-size: 1.5rem;
  }
  &__icon {
    width: 2.4rem;
  }
  &__cart {
    width: 2.5rem;
    padding-right: 5px;
  }
  &__magnifier {
    width: 1.5rem;
  }
}
.hero {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}
