@use "base";
@use "variables";

.footer {
  background-color: variables.$primary-mobile;

  &__copyright {
    width: 100%;
    color: variables.$text-white;
    background-color: variables.$red;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    font-size: 1.4rem;
    line-height: 5rem;
  }
}

.container {
  height: 60rem;
  display: flex;
  flex-flow: column;
  padding: 0 3rem;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 90px;

  .siguenos {
    padding-top: 6rem;

    .siguenos-container {
      width: 100%;

      &__text {
        font-size: 1.2rem;
        text-transform: uppercase;
        color: variables.$text-gray;
        text-align: center;
        margin-bottom: 1rem;
      }

      &__items {
        display: flex;
        justify-content: center;
      }

      &__item {
        margin: 0 0.5rem;
      }
    }

    .siguenos-container::after {
      display: block;
      content: "";
      border-bottom: 1px solid variables.$border-color-gray;
      padding-bottom: 35px;
      width: 100%;
      margin: 0 auto;
    }
  }

  .subscribete {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .subscribete-container {
      width: 100%;
      &__text {
        font-size: 1.2rem;
        text-transform: uppercase;
        color: variables.$text-gray;
        text-align: center;
        line-height: 1.6rem;
        padding: 55px 0 15px;
      }

      &__form {
        width: 100%;

        &-container {
          width: 100%;

          input {
            width: 100%;
            height: 4rem;
            border-color: variables.$border-color-gray;
          }
        }
      }

      &__privacidad {
        .checkbox-container {
          font-size: 1.4rem;
          padding: 0.5rem 0;
          display: flex;
          align-items: center;
          justify-content: center;
          label {
            background-color: #fff;
          }

          &__link {
            color: variables.$text-grayLight;
          }

          &__privacidad {
            text-decoration: underline;
          }
        }
      }

      &__button {
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        height: 40px;
        line-height: 40px;
        width: 100%;
        background-color: variables.$red;
        color: variables.$text-white;
        border: none;
        cursor: pointer;
      }
    }
  }

  .contact {
    &__items {
      margin-top: 5.5rem;
    }

    &__items::before {
      display: block;
      content: "";
      border-top: 1px solid #bbb8b6;
      padding-top: 35px;
      width: 100%;
      margin: 0 auto;
    }

    &__item {
      line-height: 30px;
      margin-bottom: 9px;
      text-align: center;
    }

    &__item-link {
      display: flex;
      flex-flow: column;
      color: variables.$red;
      text-transform: uppercase;
      font-size: 1.4rem;
    }
  }
}
