@use "base";
@use "variables";

.footer {
  font-family: arial;
  height: 60rem;
  background-color: variables.$primary-mobile;
  display: flex;
  flex-flow: column;

  .siguenos {
    margin: 0 3rem;
    padding-top: 6rem;

    .siguenos-container {
      &__text {
        font-size: 1.4rem;
        text-transform: uppercase;
        color: variables.$text-gray;
        text-align: center;
        margin-bottom: 1rem;
      }

      &__items {
        display: flex;
        justify-content: center;
      }

      &__item {
        margin: 0 0.5rem;
      }
    }

    .siguenos-container::after {
      display: block;
      content: "";
      border-bottom: 1px solid variables.$border-color-gray;
      padding-bottom: 35px;
      width: 100%;
      margin: 0 auto;
    }
  }

  .subscribete {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid variables.$border-color-gray;
    margin: 0 3rem;

    .subscribete-container {
      &__text {
        font-size: 1.4rem;
        text-transform: uppercase;
        color: variables.$text-gray;
        text-align: center;
        margin-bottom: 1rem;
      }

      &__form {
        width: 100%;
        height: 100%;
        padding: 0 1rem;

        &-container {
          width: 100%;

          input {
            width: 100%;
            height: 4rem;
            border-color: variables.$border-color-gray;
          }
        }
      }

      &__privacidad {
        .checkbox-container {
          font-size: 1.4rem;
          padding: 0.5rem 0;

          &__link {
            color: variables.$text-grayLight;
          }

          &__privacidad {
            text-decoration: underline;
          }
        }
      }

      &__button {
        height: 40px;
        line-height: 40px;
        width: 100%;
        background-color: variables.$red;
        color: variables.$text-white;
        border: none;
        cursor: pointer;
      }
    }
  }

  &__copyright {
    color: variables.$text-white;
    background-color: variables.$red;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
