*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif;
}

.ROOT {
  font-size: 1.6rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.navbar {
  background-color: #f8f8f8;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__placeholder {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__placeholder--grey {
  background-color: #bbb8b6;
}
.navbar__placeholder--red {
  background-color: #ff5959;
}
.navbar__cart__count {
  color: #fff;
  font-size: 2rem;
  font-family: "Myriad Pro", "Myriad Web", "Tahoma", "Helvetica", "Arial", sans-serif;
}
.navbar__icon {
  width: 3rem;
}
.navbar__cart {
  width: 3rem;
  padding-right: 5px;
}
.navbar__magnifier {
  width: 2rem;
}

.hero {
  padding-top: 3rem;
  height: 20rem;
  text-align: center;
}

.main {
  background-color: #f8f8f8;
  text-align: center;
  height: 85.1rem;
}
.main h1 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  letter-spacing: 0.5rem;
  width: 20rem;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 5rem;
}
.main__cake {
  height: 12rem;
  position: relative;
  bottom: 6rem;
}

.card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5.5rem;
}

.imgholder {
  margin-top: 1rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.imgholder__image {
  width: 40rem;
}
.imgholder__image--fit {
  object-fit: cover;
  object-position: top;
  width: 40rem;
  height: 16.7rem;
}
.imgholder__text {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: 45%;
  align-self: flex-start;
  bottom: 0;
  text-align: left;
  padding: 2rem;
}
.imgholder h2 {
  font-weight: 800;
  font-size: 1.8rem;
  color: #67625f;
}

.view-button {
  background-color: #ff5958;
  padding: 1.5rem 3rem;
  color: #fff;
}
.view-button :hover {
  text-decoration: underline;
}

.footer {
  background-color: #f8f8f8;
}
.footer__copyright {
  color: #ffffff;
  background-color: #ff5958;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  font-size: 1.4rem;
  line-height: 5rem;
}

.container {
  height: 60rem;
  display: flex;
  flex-flow: column;
  padding: 0 3rem;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 90px;
}
.container .siguenos {
  padding-top: 6rem;
}
.container .siguenos .siguenos-container {
  width: 100%;
}
.container .siguenos .siguenos-container__text {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #67625f;
  text-align: center;
  margin-bottom: 1rem;
}
.container .siguenos .siguenos-container__items {
  display: flex;
  justify-content: center;
}
.container .siguenos .siguenos-container__item {
  margin: 0 0.5rem;
}
.container .siguenos .siguenos-container::after {
  display: block;
  content: "";
  border-bottom: 1px solid #bbb8b6;
  padding-bottom: 35px;
  width: 100%;
  margin: 0 auto;
}
.container .subscribete {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.container .subscribete .subscribete-container {
  width: 100%;
}
.container .subscribete .subscribete-container__text {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #67625f;
  text-align: center;
  line-height: 1.6rem;
  padding: 55px 0 15px;
}
.container .subscribete .subscribete-container__form {
  width: 100%;
}
.container .subscribete .subscribete-container__form-container {
  width: 100%;
}
.container .subscribete .subscribete-container__form-container input {
  width: 100%;
  height: 4rem;
  border-color: #bbb8b6;
}
.container .subscribete .subscribete-container__privacidad .checkbox-container {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .subscribete .subscribete-container__privacidad .checkbox-container label {
  background-color: #fff;
}
.container .subscribete .subscribete-container__privacidad .checkbox-container__link {
  color: #67625f;
}
.container .subscribete .subscribete-container__privacidad .checkbox-container__privacidad {
  text-decoration: underline;
}
.container .subscribete .subscribete-container__button {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
  width: 100%;
  background-color: #ff5958;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.container .contact__items {
  margin-top: 5.5rem;
}
.container .contact__items::before {
  display: block;
  content: "";
  border-top: 1px solid #bbb8b6;
  padding-top: 35px;
  width: 100%;
  margin: 0 auto;
}
.container .contact__item {
  line-height: 30px;
  margin-bottom: 9px;
  text-align: center;
}
.container .contact__item-link {
  display: flex;
  flex-flow: column;
  color: #ff5958;
  text-transform: uppercase;
  font-size: 1.4rem;
}

/*# sourceMappingURL=styles.css.map */
